<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font-awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!-- Bootstrap CSS (Latest Version) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static 'css/questlogblog.css' %}" rel="stylesheet">

    <title>
      {% block blogtitle %}
        Quest Log Blog
      {% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Quest Log Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>

            {% if user.is_authenticated %}
            <li><a class="nav-link active text-white" href="{% url 'NewPost' %}">New Post</a></li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn nav-link text-white">Logout</button>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- Bootstrap Bundle with Popper (Latest Version) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/questlogblog.js"></script>
  </body>
  <footer class="text-center mt-4">
    <p>© 2025 Quest Log Blog</p>
  </footer>
</html>