{% extends "base.html" %}

{% block blogtitle %}
    Delete Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        <h1>Delete Post</h1>
        <br>
        <h3>{{ post.title }}</h3>
        <br>

        <div class="form-group">
            <form method="Post">
                <!-- Protects user post -->
                {% csrf_token %}
                <strong>This post will be deleted!</strong> 
                <br>
                <strong>are you sure you want to delete this post?</strong>
                <br><br>
                <a href="{% url 'home' %}" class="btn btn-primary me-2 btn-sm">Back</a>
                <button class="btn btn-primary btn-sm btn-danger">Delete Post</button>
        </div>
    {% else %}
        <p>You can't delete this post as you are not the author of this post!</p>
    {% endif %}    

{% else %}

    <p>Please login first before trying to delete posts!</p>

{% endif %}

{% endblock %}