{% extends "base.html" %}

{% block content %}




<h1>Post</h1>

<ul>
{% for p in object_list %}
   <li> 
    <a href="{% url 'article_details' p.pk %}">{{ p.title }}</a> <br>
    {{ p.body }} <br>
    <small>{{ p.author.first_name }}
    {{ p.author.last_name }} 
    <br>
    {{ p.date_of_post }}
    </small> 
    <br>
    <br>
    <a href="{% url 'edit_post' p.pk %}" class="btn btn-primary me-2 btn-sm">Edit</a>
    <a href="{% url 'delete_post' p.pk %}" class="btn btn-primary me-2 btn-sm">Delete</a>
    <br> <br>
</li>
{% endfor %}
</ul>


{% endblock %}